[submodule "haskell-lockfree"]
	path = haskell-lockfree
	url = https://github.com/rrnewton/haskell-lockfree.git
[submodule "concurrent-skiplist"]
	path = concurrent-skiplist
	url = https://github.com/rrnewton/concurrent-skiplist.git
[submodule "pcg-random"]
	path = pcg-random
	url = https://github.com/rrnewton/pcg-random.git
	ignore = untracked
