[submodule "haskell-lockfree"]
	path = haskell-lockfree
	url = git@github.com:iu-parfunc/haskell-lockfree.git
[submodule "concurrent-skiplist"]
	path = concurrent-skiplist
	url = git@github.com:rrnewton/concurrent-skiplist.git
[submodule "pcg-random"]
	path = pcg-random
	url = git@github.com:rrnewton/pcg-random.git
	ignore = untracked
